{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}


    <div class="section section__1" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="fw-pb-30 fw-pt-60">
                <div class="logo">
                    <img src="images/logo.svg">
                </div>
                <h1 class="h1-title">Универсальный Call-центр №1:</h1>
                <h2 class="h2-title">объединяем более 1000 региональных<br>и зарубежных сall-центров финансовой
                    направленности</h2>
                <p class="default-text">Предоставляем актуальные технологические и бизнес-решения, осуществляем
                    профессиональный финансовый консалтинг</p>
                <ul class="default-list">
                    <li>
                        Нашими услугами и решениями пользуется более 1000 региональных и зарубежных сall-центров
                    </li>
                    <li>
                        Сотрудничаем с известными банками, финансовыми и брокерскими компаниями по всему миру
                    </li>
                    <li>
                        Интегрированы с наиболее популярными банковскими информационными системами
                    </li>
                </ul>
                <div class="arrow-down">
                    <a href="#feedback" class="arrow-down__link jq-slide-scroll"><img src="images/arrow-down.svg"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="section section__2" id="feedback">
        <div class="container">
            <div class="fw-pb-60 fw-pt-60">
                <div class="img-mail">
                    <img class="img-mail__image" src="images/mail.svg">
                </div>
                <div class="section__2-descr">
                    <p class="section__2-title">
                        <span class="fw-color-red">Внимание!</span> Если вы получили письмо от нашего клиента
                    </p>
                    <p class="section__2-text">Данный портал принадлежит проекту «Универсальный Call-центр №1». Если вы
                        получили письмо с адреса xxxx@callcenter-first.com, то это письмо от одного из наших клиентов.
                    </p>
                    <p class="section__2-text">Мы не отвечаем на вопросы, связанные с коммерческими предложениями
                        подключенных к нашему порталу сall-центров. Поэтому для уточнения деталей полученного вами
                        предложения, свяжитесь с отправителем письма.</p>
                    <p class="section__2-text">Однако, у нас вы можете получить справку относительно актуального статуса
                        сall-центра, от которого вы получили письмо. Для этого сформируйте запрос через форму обратной
                        связи:</p>
                    <form class="form-wrapper" action="#">
                        <div class="input-wrapper"><input class="input" type="text" placeholder="Ваше имя"></div>
                        <div class="input-wrapper"><input class="input" type="text" placeholder="Эл. почта"></div>
                        <div class="textarea-wrapper">
                            <textarea class="textarea" placeholder="Запрос"></textarea>
                        </div>
                        <div>
                            <button class="btn-blue js-open-popup" data-popup-target="thanks" type="button">Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}