<div class="popup-wrapper js-popup" data-popup="thanks">
    <div class="thanks">
        <div class="thanks__close js-close-popup"></div>
        <div class="check-wrapper">
            <img class="check" src="images/check.svg">
        </div>
        <p class="thanks__text">Спасибо! Мы получили Ваш запрос и ответим в течение 30 минут.</p>
        <p class="fw-text-center"><span class="thanks__close-text js-close-popup">Закрыть</span></p>
    </div>
</div>